body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px);
  grid-template-rows: repeat(auto-fill, 10px);
  grid-gap: 0; /* Removed grid-gap */
  background-color: #000;
}

.cell {
  width: 10px;
  height: 10px;
}

.cell.alive {
  background-color: #fff;
}

.space-theme {
  background: url('space-background.jpg') center/cover no-repeat;
  color: #fff;
  font-family: 'Arial', sans-serif;
}